# Imports

In [1]:
import pandas as pd 
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import nbconvert
import requests
import time
from splinter import Browser

# Create Browser

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\slaye\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

# Read in csv of RT

In [3]:
rt_df = pd.read_csv('RT_ratings.csv')
rt_df

,Unnamed: 0,Rank,RatingTomatometer,Title,No. of Reviews
0,0,1.0,99%,It Happened One Night (1934),97
1,1,2.0,98%,Modern Times (1936),108
2,2,3.0,96%,Black Panther (2018),521
3,3,4.0,99%,Citizen Kane (1941),117
4,4,5.0,99%,The Wizard of Oz (1939),145
...,...,...,...,...,...
95,95,96.0,96%,Pain and Glory (Dolor y gloria) (2019),295
96,96,97.0,98%,Schindler's List (1993),128
97,97,98.0,99%,Shoplifters (Manbiki kazoku) (2018),226
98,98,99.0,100%,M (1931),60
99,99,100.0,97%,Metropolis (1927),133

# create for loop which uses google chrome to search for f"imdb {movie}
# click the first link which has www.imdb.com/title in it to find the exact movie 
# make browser a soup element and use find to grab the rating text
# append to list

In [4]:
rotten_movies = rt_df['Title']
rt_to_imdb_score = []
for r in rotten_movies:
    imdb = f"imdb {r}"
    url = f'https://www.google.com/search?q={imdb}&rlz=1C1VDKB_enUS933US933&oq=imdb+batman+begins&aqs=chrome..69i57j0j0i22i30l2.11368j0j7&sourceid=chrome&ie=UTF-8'
    browser.visit(url)
    browser.click_link_by_partial_href('https://www.imdb.com/title/')
    html=browser.html
    soup=bs(html,'html.parser')
    sopa = soup.find('div',class_='AggregateRatingButton__ContentWrap-sc-1il8omz-0 cMcGnJ').get_text()
    rt_to_imdb_score.append(sopa)
    print(len(rt_to_imdb_score))

C:\Users\slaye\anaconda3\envs\PythonData\lib\site-packages\splinter\driver\webdriver\__init__.py:485: FutureWarning: browser.find_link_by_partial_href is deprecated. Use browser.links.find_by_partial_href instead.
  FutureWarning,

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
rt_to_imdb_score

['8.1/1096K',
 '8.5/10223K',
 '7.3/10654K',
 '8.3/10413K',
 '8.0/10375K',
 '8.6/10617K',
 '8.4/10885K',
 '8.5/10532K',
 '7.9/10496K',
 '6.8/10243K',
 '7.7/10214K',
 '7.4/10252K',
 '7.7/10301K',
 '7.5/10233K',
 '7.7/10512K',
 '7.8/10340K',
 '9.2/101.7M',
 '8.1/10906K',
 '8.4/10404K',
 '8.2/10123K',
 '7.9/1065K',
 '7.4/10282K',
 '7.4/10596K',
 '8.1/1059K',
 '7.6/10347K',
 '8.1/10127K',
 '8.1/10636K',
 '7.5/10432K',
 '7.4/1066K',
 '7.7/10145K',
 '8.5/10453K',
 '7.2/10100K',
 '7.8/10577K',
 '8.4/10409K',
 '7.9/1031K',
 '8.1/1072K',
 '7.5/1088K',
 '7.3/10384K',
 '7.9/10618K',
 '7.6/1054K',
 '8.1/10432K',
 '8.6/10322K',
 '8.1/10162K',
 '8.1/1034K',
 '7.9/10615K',
 '8.1/1058K',
 '8.3/10224K',
 '7.2/1031K',
 '7.5/10180K',
 '8.1/10669K',
 '7.6/10185K',
 '8.3/10147K',
 '7.9/10261K',
 '7.8/10379K',
 '7.5/10124K',
 '7.0/10578K',
 '8.1/10145K',
 '7.8/10873K',
 '8.3/10305K',
 '7.9/10340K',
 '8.1/1058K',
 '7.9/1048K',
 '8.1/10654K',
 '7.8/10255K',
 '7.7/10583K',
 '7.6/10588K',
 '7.2/1053K',
 '8.3/10117K',
 '8.0/10523K',
 '7.9/1090K',
 '8.4/10806K',
 '7.9/1081K',
 '7.5/10350K',
 '8.5/10617K',
 '7.6/10260K',
 '8.0/1044K',
 '8.0/10446K',
 '7.9/10225K',
 '7.8/1061K',
 '7.4/10234K',
 '7.8/1065K',
 '7.7/10781K',
 '8.0/10151K',
 '7.6/1099K',
 '8.4/10206K',
 '8.3/10465K',
 '6.9/1090K',
 '7.6/1041K',
 '7.1/10183K',
 '8.1/1055K',
 '9.0/101.2M',
 '7.6/10459K',
 '7.4/10534K',
 '7.8/1018K',
 '7.4/1019K',
 '7.5/1052K',
 '8.9/101.2M',
 '7.9/1067K',
 '8.3/10147K',
 '8.3/10163K']

# use split to delete unnecessary text from

In [6]:
rt_to_imdb_ratings = []
for rating in rt_to_imdb_score:
    rt_to_imdb_ratings.append(rating.split('/')[0])
rt_to_imdb_ratings

['8.1',
 '8.5',
 '7.3',
 '8.3',
 '8.0',
 '8.6',
 '8.4',
 '8.5',
 '7.9',
 '6.8',
 '7.7',
 '7.4',
 '7.7',
 '7.5',
 '7.7',
 '7.8',
 '9.2',
 '8.1',
 '8.4',
 '8.2',
 '7.9',
 '7.4',
 '7.4',
 '8.1',
 '7.6',
 '8.1',
 '8.1',
 '7.5',
 '7.4',
 '7.7',
 '8.5',
 '7.2',
 '7.8',
 '8.4',
 '7.9',
 '8.1',
 '7.5',
 '7.3',
 '7.9',
 '7.6',
 '8.1',
 '8.6',
 '8.1',
 '8.1',
 '7.9',
 '8.1',
 '8.3',
 '7.2',
 '7.5',
 '8.1',
 '7.6',
 '8.3',
 '7.9',
 '7.8',
 '7.5',
 '7.0',
 '8.1',
 '7.8',
 '8.3',
 '7.9',
 '8.1',
 '7.9',
 '8.1',
 '7.8',
 '7.7',
 '7.6',
 '7.2',
 '8.3',
 '8.0',
 '7.9',
 '8.4',
 '7.9',
 '7.5',
 '8.5',
 '7.6',
 '8.0',
 '8.0',
 '7.9',
 '7.8',
 '7.4',
 '7.8',
 '7.7',
 '8.0',
 '7.6',
 '8.4',
 '8.3',
 '6.9',
 '7.6',
 '7.1',
 '8.1',
 '9.0',
 '7.6',
 '7.4',
 '7.8',
 '7.4',
 '7.5',
 '8.9',
 '7.9',
 '8.3',
 '8.3']

# turn list into a dataframe for merge usage later and blank column

In [7]:
score_df = pd.DataFrame(rt_to_imdb_ratings)
score_df.columns=['IMDB score']
score_df

   IMDB score
0         8.1
1         8.5
2         7.3
3         8.3
4         8.0
..        ...
95        7.5
96        8.9
97        7.9
98        8.3
99        8.3

[100 rows x 1 columns]

# create a dataframe from the original rotten tomato dataframe and add their IMDB score through concatenate

In [9]:
data = [rt_df,score_df]
final = pd.concat(data,axis=1)
final

,Unnamed: 0,Rank,RatingTomatometer,Title,No. of Reviews,IMDB score
0,0,1.0,99%,It Happened One Night (1934),97,8.1
1,1,2.0,98%,Modern Times (1936),108,8.5
2,2,3.0,96%,Black Panther (2018),521,7.3
3,3,4.0,99%,Citizen Kane (1941),117,8.3
4,4,5.0,99%,The Wizard of Oz (1939),145,8.0
...,...,...,...,...,...,...
95,95,96.0,96%,Pain and Glory (Dolor y gloria) (2019),295,7.5
96,96,97.0,98%,Schindler's List (1993),128,8.9
97,97,98.0,99%,Shoplifters (Manbiki kazoku) (2018),226,7.9
98,98,99.0,100%,M (1931),60,8.3
99,99,100.0,97%,Metropolis (1927),133,8.3

# Remove unnamed, renmae columns and turn into final csv file

In [10]:
final = final[['Rank','RatingTomatometer','Title','No. of Reviews', 'IMDB score']]
final = final.rename(columns={'Rank':'IMDB Rank','Title':'Movie','RatingTomatometer':'Tomatometer'})

In [11]:
final.to_csv('rt_to_imdb.csv',index=False)

In [12]:
browser.quit()